body {
    text-align: center;
    font-size: 24pt;
    backdrop-filter: 10px;
    font-family: "serif";
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(20,86,163,1) 100%);
    backdrop-filter: blur(5px);
    margin:(30px,30px,30px,30px);
}
  
h2 {
  text-align: center;
  font-weight: bold;
  font-family: "serif";
  font-style: italic;
}
